* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(180, 170, 152);
}
.calc{
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 750px;
    height: 600px;
    

    &__main{
        flex-basis: 450px;
        height: 600px;
    }
    &__display{
        padding: 10px 20px 0 0;
        text-align: right;
        height: 20%;
        width: 100%;
        background-color: #bbb;
        font-size: 20px;
    }

    &__previousNumber{
        width: 100%;
        height: 20px;
    }
    &__mathSign{
        width: 100%;
        height: 20px;
    }
    &__currentNumber{
        width: 100%;
        height: 35px;
        margin-top: 15px;
        font-size: 35px;
    }
    &__panel{
        text-align: center;
        height: 80%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
        grid-template-rows: repeat(6 , 1fr);
        
    }
    & button{
        font-size: 25px;
        background-color: rgb(67,67,70);
        color: white;
    }
    & button:hover{
        background-color: rgb(97,97,100);
    }

    &__history{
        text-align: center;
        height: 600px;
        background-color: #bbb;
        margin-left: 10px;
        flex-basis: 290px;
    }
}
.history{
    &__text{
        font-size: 25px;
        margin: 15px; 
    }
    &__clearBtn{
        border: none;
        border-radius: 3px;
        padding: 10px 10px;
    }
    &__hr{margin: 15px;}
    &__list-box{
        height:440px ;
        overflow: auto;
        margin: 15px;
        text-align: right;
    }
    &__list{
        list-style: none;
    }
    &__listItem{
        margin: 0 20px 10px 5px;
        font-size: 20px;
    }
}

.alert{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);

    &__alertbox{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 450px;
        height: 300px;
        background-color: rgb(180, 170, 152);
    }
    &__text{
        font-size: 25px;
    }
    &__closeBtn{
        font-size: 18px;
        width: 90px;
        height: 60px;
        position: absolute;
        bottom: 5%;
        right: 5%;
        border: none;
        border-radius: 3px;
        &:hover{
            background-color: #ccc;
        }
    }
}

